# Configuración del Servidor
PORT=4000
HOST=0.0.0.0
NODE_ENV=development

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow_db

# Seguridad (JWT)
# Puedes generar una clave segura con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_SECRET=a4883f0cd09e6a3f3af544e1aa63b594a8190408dbf584c15007c627b028344d3e2ea162f81027815686c32b9d93a81eda7f6f0252e9bbcfb9ea15440e8bd1ca
JWT_ACCESS_EXPIRES=5m
JWT_REFRESH_SECRET=307679b00dc78759fb171f1b910eff28b594074c253bdf9101d9815dced006924b4b80f4de25cfac9b1a8337ba63b3bcb9be436d4d84582caddf5f9143d375ca
JWT_REFRESH_EXPIRES=1h

# Frontend URL (CORS)
# Para múltiples URLs, sepáralas por comas sin espacios (ej: http://localhost:5173,http://172.26.4.3:5173)
FRONTEND_URL=http://localhost:5173,http://172.26.4.3:5173
